:root {
  --primary-color: #2b3a5b; /* Azul escuro da logo */
  --secondary-color: #fe6244; /* Laranja da logo */
  --accent-color: #b768e1; /* Roxo da logo */
  --text-color: #333;
  --light-bg: #f8f9fa;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-primary:hover {
  background-color: #e55c3c;
  border-color: #e55c3c;
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:hover {
  color: white;
  background-color: var(--primary-color);
}

.card {
  border: none;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
